Repository queekao/interview-cathay-united-bank-frontend-nextjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

feat: react-question.pdf finished
  README.md
  src/pages/_app.tsx
  src/pages/test/[id].tsx
  src/styles/test.module.scss
  tsconfig.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: require() of ES Module of wrap-ansi
  .eslintrc.json
  .lintstagedrc.json
  next.config.js
  package.json
  src/components/CustomMuiElement/Calendar/index.tsx
  src/pages/test/[id].tsx
  tsconfig-server.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: The basic UI appearance has finished with the basic functionality setup
  package.json
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCell.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomMuiElement/Calendar/index.tsx
  src/components/CustomMuiElement/Calendar/method.ts
  src/hooks/index.ts
  src/hooks/useCalendar.tsx
  src/pages/test/[id].tsx
  src/providers/CalendarProvider.tsx
  src/themes/palette.ts
  src/themes/theme-extensions.d.ts
Due: eslint --cache --fix, prettier --write

fix:change material UI locale to zhTW
  src/components/CustomMuiElement/Calendar/method.ts
  src/themes/index.ts
Due: eslint --cache --fix, prettier --write

feat: Have finished month navigator and cell basic style with behavior
  global.d.ts
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomMuiElement/Calendar/index.tsx
  src/pages/_app.tsx
  src/pages/test/[id].tsx
  src/providers/CalendarProvider.tsx
Due: eslint --cache --fix, prettier --write

fix: Some style problem with calendar cells
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/index.tsx
Due: eslint --cache --fix, prettier --write

fix: selectedDateHandler problem
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/providers/CalendarProvider.tsx
Due: eslint --cache --fix, prettier --write

perf: Optmize context re-render problem
  README.md
  global.d.ts
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomMuiElement/Calendar/index.tsx
  src/components/CustomMuiElement/Calendar/method.ts
  src/hooks/useCalendar.tsx
  src/pages/_document.tsx
  src/providers/CalendarProvider.tsx
Due: eslint --cache --fix, prettier --write

feat: highlight date range selection in calendar
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/method.ts
Due: eslint --cache --fix, prettier --write

feat: Optimze selectedDateHandler function for date range
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCell.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelector.tsx
Due: eslint --cache --fix, prettier --write

feat: Have finished second canlendar
  README.md
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelectorBtn.tsx
  src/hooks/useCalendar.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/test/[id].tsx
  src/providers/CalendarProvider.tsx
  src/providers/index.ts
Due: eslint --cache --fix, prettier --write

fix: sitemap.ts problem
  src/pages/api/sitemap.ts
  src/pages/index.tsx
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

test: Cypress has finished
  cypress/component/ProgressBar.cy.tsx
  cypress/e2e/Desktop.cy.ts
  cypress/e2e/Example.cy.ts
  cypress/tsconfig.json
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/method.ts
Due: eslint --cache --fix, prettier --write

perf: Use Key-value pair in the calendar cells instead of the nested array and use push instead of shifting inside of an array
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/method.ts
  src/hooks/useCalendar.tsx
  src/providers/CalendarProvider.tsx
Due: eslint --cache --fix, prettier --write

refactor: separate the cell from cell group
  cypress/e2e/Desktop.cy.ts
  global.d.ts
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCell.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomMuiElement/Calendar/DateElements/CalendarSelectorBtn.tsx
  src/components/CustomMuiElement/Calendar/method.ts
Due: eslint --cache --fix, prettier --write

refactor: Remove mock TestOne page and rename CustomMuiElement to CustomElement
  README.md
  src/components/CustomElement/Calendar/DateElements/CalendarCell.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarSelectorBtn.tsx
  src/components/CustomElement/Calendar/index.tsx
  src/components/CustomElement/Calendar/method.ts
  src/pages/test/[id].tsx
  src/pages/testOne.tsx
Due: eslint --cache --fix, prettier --write

perf: Dynamically import the calendar component
  src/components/LoadingSpinner.tsx
  src/pages/_app.tsx
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

fix: sitemap and robots.txt
  robots.txt
  src/pages/api/sitemap.ts
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

test: unit test of Test directory page
  __tests__/pages/TestOnePage.test.tsx
  __tests__/pages/TestPage.test.tsx
  jest.config.ts
  jest.setup.js
  package.json
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

feat: Add vercel.json configuration
  Dockerfile
  package.json
  vercel.json
Due: none

fix: eslint problem and stylelint simplify and lint staged with script command
  .eslintrc.json
  .prettierrc
  .stylelintrc.json
  cypress/e2e/Desktop.cy.ts
  package.json
  src/styles/global.module.scss
  src/styles/test.module.scss
  tsconfig.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Avoid Cypress interpolate Jest expect() and fix the @testing-library/jest-dom import problem
  .eslintrc.json
  __tests__/pages/TestPage.test.tsx
  package.json
  src/components/CustomElement/Calendar/DateElements/CalendarCell.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarSelector.tsx
  src/styles/global.module.scss
  tsconfig.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

test: Home page unit test has finished
  __tests__/pages/HomePage.test.tsx
Due: eslint --cache --fix, prettier --write

fix: Move robots.txt to public
  .eslintignore
  public/robots.txt
Due: none

feat: Add data-testid and provider utils for test
  package.json
  src/components/CustomElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/LoadingSpinner.tsx
  src/pages/test/[id].tsx
  src/utils/providersForTest.tsx
Due: eslint --cache --fix, prettier --write

test:component test has finished
  __tests__/components/CustomElement/Calendar/DateElements/CalendarCell.test.tsx
  __tests__/components/CustomElement/Calendar/DateElements/CalendarCellsGroup.test.tsx
  __tests__/components/CustomElement/Calendar/DateElements/CalendarSelector.test.tsx
  __tests__/components/CustomElement/Calendar/DateElements/CalendarSelectorBtn.test.tsx
  __tests__/components/CustomElement/Calendar/index.test.tsx
  __tests__/components/LoadingSpinner.test.tsx
  __tests__/pages/test/[id].test.tsx
Due: eslint --cache --fix, prettier --write

feat: Revise description to Q4 1.1
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

fix: Q5 of react.question.pdf
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

fix: Combine eslint with prettier
  .eslintrc.json
  README.md
Due: none

refactor: Revise jest.setup.js to jest.setup.tsx and utilize the provider in setup
  src/utils/providersForTest.tsx
Due: eslint --cache --fix, prettier --write

refactor: Revise jest.setup.js to jest.setup.tsx and utilize the provider in setup
  jest.config.ts
  jest.setup.js
  jest.setup.tsx
Due: eslint --cache --fix, prettier --write

fix: robots.txt sitemap url problem
  public/robots.txt
  src/pages/test/[id].tsx
Due: eslint --cache --fix, prettier --write

fix: Add yarn.lock and remove resetRangeDay
  .gitignore
  next.config.js
  package.json
  src/components/CustomElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomElement/Calendar/method.ts
  src/pages/test/[id].tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: the high severity problem of .lock file
  package.json
  yarn.lock
Due: none

fix: the moderate severity problem of .lock file
  package.json
  yarn.lock
Due: none

fix: Remove vulnerable package of stylelint
  .stylelintrc.json
  next-env.d.ts
  package.json
  server.ts
  src/components/CustomElement/Calendar/DateElements/CalendarCell.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarCellsGroup.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarSelector.tsx
  src/components/CustomElement/Calendar/DateElements/CalendarSelectorBtn.tsx
  src/pages/_app.tsx
  src/pages/test/[id].tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: update README.md
  README.md
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
